{% extends "base.html" %}
{% block content %}
<div id="container" class="container">
<h2 id="username">User: <a href="{{ url_for('users.user_profile_page_func', username=username)}}">{{username}}</a></h2>
{% if user_origin %}
<h2 id="user_origin">Origin: {{user_origin}} </h2>
{% endif %}
{% if user_uuid %}
<h2 id="user_uuid">User_uuid: {{user_uuid}} </h2>
{% endif %}
<br>
<h2><a href="{{ url_for('users.user_profile_stories_page_func', username=username)}}">User's stories</a></h2>
<h2><a href="{{ url_for('users.user_profile_comments_page_func', username=username)}}">User's comments</a></h2>
</div>
{% endblock %}