{% extends "base.html" %}
{% block head_content %}
<script src="{{ url_for('news.static', filename='js/story.js') }}"></script>
<script src="{{ url_for('news.static', filename='js/comment.js') }}"></script>
{% endblock %}
{% block content %}
<div id="container" class="container">
<br>
<h1 class="blognews_story" >Story page</h1>
<!-- Story  -->
<div id="story" data-story_id="{{ story.id }}">
  <div class="card">
    <a class="title_url" href="#"><h5 class="card-header" id="story_title {{story.id}}">{{story.title}}</h5></a>
    <div class="card-body">
      <h5 class="card-title" id="story_text {{story.id}}">{{story.text}}</h5>
      <h5 class="card-title" id="story_by {{story.id}}">{{story.by}}</h5>
      <a href="{{story.url}}" class="btn btn-primary" id="story_url {{story.id}}">Story url</a>
      <a href="#" class="btn btn-primary" id="story_score {{story.id}}">{{story.score}}</a>
      {% if username == story.by and user_origin == story.origin %}
        <button id="edit_story_btn" data-edit_story_btn="{{story.id}}" onclick="editStoryBtn();" class="btn btn-primary float-right">Edit</button>
      {% endif %} 
    </div>
  </div>
</div>
<!-- Edit story form -->
{% if username == story.by and user_origin == story.origin %}
<div id="edit_story_form_container">
  <form id="story_form {{ story.id }}" method="post" action="{{ url_for('news.blognews_story_page_func', story_id=story.id)}}">
    {{ edit_story_form.csrf_token }}
    {{ edit_story_form.story_form_method_type(class_="form-control", id="form_method_type {}".format(story.id)) }}
    <p>Story Title:</p>
    {{ edit_story_form.story_title(class_="form-control", id="form_story_title {}".format(story.id)) }}
    <br>
    <p>Story Url:</p>
    {{ edit_story_form.story_url(class_="form-control", id="form_story_url {}".format(story.id) ) }}
    <br>
    <p>Story Text:</p>
    {{ edit_story_form.story_text(class_="form-control", id="form_story_text {}".format(story.id)) }}
    <br>
    {% for key, value in edit_story_form.errors.items() %}
      {% for error_message in value %}
          <li id="edit_story_form_error">{{ error_message }}</li>
      {% endfor %}
    {% endfor %}
    <br>
    {{ edit_story_form.edit_story_submit(class_="btn btn-primary") }}
    <button type="button" id="delete_story_btn" data-delete_story_btn="{{ story.id }}" onclick="deleteStoryBtn();" class="btn btn-danger">Delete story</button>
    <button type="button" id="cancel_story_btn {{ story.id }}" data-cancel_story_btn="{{story.id}}" onclick="cancelStoryBtn();" class="btn btn-danger">Cancel</button>  
  </form>
</div>
{% endif %}
<!-- Add comment form -->
{% if user_uuid %}
<br>
<div id="add_comment_form_container">
<form class="add_comment_form" method="post" action="{{ url_for('news.blognews_story_page_func', story_id=story.id)}}">
  {{ add_comment_form.csrf_token }}
  {{ add_comment_form.add_comment_form_method_type(id="add_comment_form_method_type") }}
  <p>Add comment:</p>
  {{ add_comment_form.comment_text(class_="form-control") }}
  <br>
      {% for key, value in add_comment_form.errors.items() %}
          {% for error_message in value %}
              <li>{{ error_message }}</li>
          {% endfor %}
      {% endfor %}
  <br>
  {{ add_comment_form.add_comment_submit(class_="btn btn-primary") }}
</form>
</div>
<br>
{% endif %}
<!-- Comments -->
<h1>Comments:</h1>
<div id="comments">
{% for comment, edit_comment_form in zip(story.comments, edit_comments_forms) %}
<!-- Comment -->
<div id="comment {{comment.id}}">
  <div class="card">
      <a class="comment_by_link {{ comment.id }}" href="{{ url_for('users.user_profile_page_func', username=comment.by) }}"><h5 id="comment_by {{comment.id}}" class="card-header">{{comment.by}}</h5></a>
      <div class="card-body">
        <h5 id="comment_text {{ comment.id }}" class="card-title">{{comment.text|safe}}</h5>
      </div>
  </div>
  {% if username == comment.by and user_origin == comment.origin %}
  <button id="edit_comment_btn" onclick="editCommentBtn();" data-edit_comment_btn="{{comment.id}}" class="btn btn-primary">Edit</button>  
  {% endif %} 
</div>
<!-- Comment form -->
{% if username == comment.by %}
<div id="edit_comment_form_container {{ comment.id }}">
  <form name="ecf {{ comment.id }}" id="edit_comment_form {{ comment.id }}" method="post" action="{{ url_for('news.blognews_story_page_func', story_id=story.id)}}">
    {{ edit_comment_form.csrf_token }}
    {{ edit_comment_form.edit_comment_form_method_type(id="method_type {}".format(comment.id)) }}
    
    <p>Edit comment:</p>
    {{ edit_comment_form.comment_text(class_="form-control",id="comment_textarea {}".format(comment.id)) }}
    <br>
        {% for key, value in edit_comment_form.errors.items() %}
            {% for error_message in value %}
                <li id="edit_comment_form_error" comment_id="{{ comment.id }}">{{ error_message }}</li>
            {% endfor %}
        {% endfor %}
    <br>
    {{ edit_comment_form.edit_comment_submit(class_="btn btn-primary", id="edit_comment_submit {}".format(comment.id)) }}
    <button type="button" id="delete_comment_btn {{ comment.id }}" data-delete_comment_btn="{{ comment.id }}" onclick="deleteCommentBtn();" class="btn btn-danger">Delete</button>
    <button type="button" id="cancel_btn {{ comment.id }}" data-cancel_comment_btn="{{comment.id}}" onclick="cancelCommentBtn();" class="btn btn-danger">Cancel</button>  
  </form>
</div>
{% endif %}  
<br>
{% endfor %}
</div>
</div>
{% endblock %}
