{% extends "base.html" %}
{% block head_content %}
<script src="{{ url_for('news.static', filename='js/comment.js') }}"></script>
{% endblock %}
{% block content %}
<div id="container" class="container">
<br>
<h1 class="blognews_story" >Story page</h1>
<!-- Story  -->
<div class="story">
  <div class="card">
      <a class="title_url" target="_blank" href="https://news.ycombinator.com/item?id={{story.hn_id}}"><h5 class="card-header">{{story.title}}</h5></a>
      <div class="card-body">
          {% if story.text %}
            <h5 id="story_text">{{story.text|safe}}</h5>
          {% endif  %}
          <a href="https://news.ycombinator.com/user?id={{story.by}}" target="_blank" class="hn_profile_url"><h5 class="card-title">{{story.by}}</h5></a>
          {% if story.url %}
            <a href="{{story.url}}" target="_blank" class="btn btn-primary">Story url</a>
          {% else %}
            <a href="https://news.ycombinator.com/item?id={{story.hn_id}}" target="_blank" class="btn btn-primary">Story url</a>
          {% endif  %}
          <a href="#" class="btn btn-primary">{{story.score}}</a>
      </div>
    </div>
</div>
<!-- Add comment form -->
{% if user_uuid %}
<br>
<div id="add_comment_form_container">
<form class="add_comment_form" method="post" action="{{ url_for('news.hackernews_new_story_page_func', story_id=story.hn_id)}}">
  {{ add_comment_form.csrf_token }}
  {{ add_comment_form.add_comment_form_method_type(id="add_comment_form_method_type") }}
  <p>Add comment:</p>
  {{ add_comment_form.comment_text(class_="form-control") }}
  <br>
      {% for key, value in add_comment_form.errors.items() %}
          {% for error_message in value %}
              <li>{{ error_message }}</li>
          {% endfor %}
      {% endfor %}
  <br>
  {{ add_comment_form.add_comment_submit(class_="btn btn-primary") }}
</form>
</div>
<br>
{% endif %}
<!-- Comments -->
<h1>Comments:</h1>
<div id="comments">
{% for comment, edit_comment_form in zip(story.comments, edit_comments_forms) %}
<!-- Comment -->
<div id="comment {{comment.id}}">
  <div class="card">
    {% if comment.hn_id %}
      <a class="comment_by_link {{ comment.id }}" target="_blank" href="https://news.ycombinator.com/user?id={{comment.by}}"><h5 id="comment_by {{comment.id}}" class="card-header">{{comment.by}}</h5></a>
    {% else %}
      <a class="comment_by_link {{ comment.id }}" href="{{ url_for('users.user_profile_page_func', username=comment.by) }}"><h5 id="comment_by {{comment.id}}" class="card-header">{{comment.by}}</h5></a>
    {% endif %}  
      <div class="card-body">
        <h5 id="comment_text {{ comment.id }}" class="card-title">{{comment.text|safe}}</h5>
      </div>
  </div>
  {% if username == comment.by and user_origin == comment.origin %}
  <button id="edit_comment_btn" onclick="editCommentBtn();" data-edit_comment_btn="{{comment.id}}" class="btn btn-primary">Edit</button>  
  {% endif %} 
</div>
<!-- Comment form -->
{% if username == comment.by %}
<div id="edit_comment_form_container {{ comment.id }}">
  <form name="ecf {{ comment.id }}" id="edit_comment_form {{ comment.id }}" method="post" action="{{ url_for('news.hackernews_new_story_page_func', story_id=story.hn_id)}}">
    {{ edit_comment_form.csrf_token }}
    {{ edit_comment_form.edit_comment_form_method_type(id="method_type {}".format(comment.id)) }}
    
    <p>Edit comment:</p>
    {{ edit_comment_form.comment_text(class_="form-control",id="comment_textarea {}".format(comment.id)) }}
    <br>
        {% for key, value in edit_comment_form.errors.items() %}
            {% for error_message in value %}
                <li id="edit_comment_form_error" comment_id="{{ comment.id }}">{{ error_message }}</li>
            {% endfor %}
        {% endfor %}
    <br>
    {{ edit_comment_form.edit_comment_submit(class_="btn btn-primary", id="edit_comment_submit {}".format(comment.id)) }}
    <button type="button" id="delete_comment_btn {{ comment.id }}" data-delete_comment_btn="{{ comment.id }}" onclick="deleteCommentBtn();" class="btn btn-danger">Delete</button>
    <button type="button" id="cancel_btn {{ comment.id }}" data-cancel_comment_btn="{{comment.id}}" onclick="cancelCommentBtn();" class="btn btn-danger">Cancel</button>  
  </form>
</div>
{% endif %}  
<br>
{% endfor %}
</div>
</div>
{% endblock %}