{% extends "base.html" %}
{% block content %}
<div class="container">
    <br>
    <h1>Story page</h1>
<div class="story">
    <div class="card">
        <a class="title_url" href="#"><h5 class="card-header">{{story.title}}</h5></a>
        <div class="card-body">
          <h5 class="card-title">{{story.by}}</h5>
          <a href={{story.hn_url}}><p class="card-text">{{story.hn_url}}</p></a>
          <a href="{{story.url}}" class="btn btn-primary">Story url</a>
          <a href="#" class="btn btn-primary">{{story.score}}</a>
        </div>
      </div>
</div>
{% if user_uuid %}
<br>
<!-- add comment form -->
<div id="edit_comment">
<form class="comment_form" method="post" action="{{ url_for('news.story_page_func', story_id=story.item_id)}}">
  {{ form.csrf_token }}
  {{ form.comment_deleted}}
  <p>Add comment:</p>
  {{ form.comment_text(class_="form-control") }}
  <br>
  <input class="btn btn-primary" type="submit" value="Add Comment">  

</form>
</div>
<!-- end comment form -->
<br>
{% endif %}
<h1>Comments:</h1>
{% for comment in story.comments%}
  {% if comment.deleted == False %}
  <div id="comment {{ comment.comment_id }}">
    <div class="story">
        <div class="card">
            <a class="title_url" href="#"><h5 class="card-header">{{comment.by}}</h5></a>
            <div class="card-body">
              <h5 id="comment_text {{ comment.comment_id }}" class="card-title">{{comment.text|safe}}</h5>
            </div>
          </div>
          {% if user_uuid == comment.by %}
          <button id="edit_comment_btn {{ comment.comment_id }}" onclick="showEditComment({{comment.comment_id}})" class="btn btn-primary">Edit</button>  
          {% endif %}
    </div>

  </div>
  <div id="edit_comment_form {{ comment.comment_id }}">
    <form class="comment_form" method="post" action="{{ url_for('news.story_page_func', story_id=story.item_id)}}">
      {{form.csrf_token}}
      {{ form.comment_deleted(id="comment_deleted {}".format(comment.comment_id)) }}
      {{ form.existed_comment_id(id="existed_comment_id {}".format(comment.comment_id)) }}
      {{ form.existed_comment_text(id="existed_comment_text {}".format(comment.comment_id)) }}
      <p>Edit comment:</p>
      {{ form.comment_text(class_="form-control") }}
      <br>
      <input class="btn btn-primary" type="submit" value="Edit Comment">
      <button id="delete_comment_btn {{ comment.comment_id }}" onclick="showEditComment({{comment.comment_id, comment.parent}})" class="btn btn-danger">Delete</button>
      <button type="button" id="cancel_btn {{ comment.comment_id }}" onclick="hideEditComment({{comment.comment_id}})" class="btn btn-danger">Cancel</button>  
    </form>
    
    </div>
    {% endif %}    
    <br>
{% endfor %}

</div>
<script>
function showEditComment(comment_id, story_id) {
  var edit_btn = document.getElementById("edit_comment_btn "+comment_id);
  var cancel_btn = document.getElementById("cancel_btn "+comment_id);
  var existed_comment_id = document.getElementById("existed_comment_id "+comment_id);
  var comment = document.getElementById("comment "+comment_id);
  var delete_btn = document.getElementById("delete_comment_btn "+comment_id);
  var comment_text = document.getElementById("comment_text "+comment_id).innerHTML;
  var comment_form = document.getElementById("edit_comment_form "+comment_id);
  comment.style.display = "none";
  comment_form.style.display = "block";

  comment_form.firstElementChild[2].value = comment_id;
  comment_form.firstElementChild[3].value = comment_text;
  comment_form.firstElementChild[4].value = comment_text;
  comment_form.firstElementChild[4].focus();
  delete_btn.onclick = function(){
    console.log(delete_btn)
    comment_form.firstElementChild[1].value = true
    console.log(comment_form.firstElementChild[1].value)
  }

}
function hideEditComment(comment_id) {
  var edit_btn = document.getElementById("edit_comment_btn "+comment_id);
  var cancel_btn = document.getElementById("cancel_btn "+comment_id);
  
  var comment = document.getElementById("comment "+comment_id);
  var comment_form = document.getElementById("edit_comment_form "+comment_id);
  comment.style.display = "block";
  comment_form.style.display = "none";
}
</script>
{% endblock %}
